<!DOCTYPE html>

<html lang="en">

<head>

  <% include ../partials/_header %>

</head>

<body>
    <% if (!user) { %>

            <p>Please login or register.</p>

    <% } else { %>

    <h4> Your current URLs and their corresponding Short Links are listed below:</h4>

    <% if (!user) { %>

            <p>Please login or register first.</p>

    <% } %>

    <ul>
    <!-- Add your EJS code here -->
        <% for (key in urls) { %>
            <li><%= urls[key]["longURL"] %> &nbsp;&nbsp;-->&nbsp;&nbsp; <a href="/u/<%= key %>">http://localhost:8080/u/<%= key %></a></li>
            <br>
            <form method="POST" action="/urls/<%= key %>/delete?_method=DELETE">
                <% if (user && urls[key]["userID"] == user.id) { %>

                    <a href="/urls/<%= key %>">Edit this URL</a>
                    &nbsp; &nbsp; &nbsp;
                    <input type="submit" value="Delete this URL Short Link">

                <% } %>

            </form>
            <br><br>
        <% }; %>
    </ul>
    <br>
    <p>Click here to <a href="http://localhost:8080/urls/new">Create a New Short Link</a>.</p>

    <% } %>

</body>

</html>